/* NAVBAR */
.navbar-container > button {
  background-color: rgba(255, 255, 255, 0);
  margin-left: 105px;
}

.navbar {
  margin-right: 40px;
  gap: 50px;
}

/* HERO SECTION */
.hero-section {
  height: 89vh;
}

.hero-section > div > div {
  gap: 25px;
}

.title {
  font-size: 70px;
}

.description {
  font-size: 22px;
  color: rgb(0, 0, 0, 50%);
}

.button {
  border: none;
  padding: 20px;
  border-radius: 32px;
  background-color: white;
  align-self: flex-start;
  letter-spacing: 2px;
}

/* ABOUT SECTION */

.about-section {
  height: 80vh;
}

.about-section > div {
  gap: 30px;
  margin-left: 55px;
}
.about-title {
  font-size: 36px;
}

.spacing {
  letter-spacing: 3px;
  line-height: 2;
}
