/* NAVBAR */
.navbar-container > button {
  background-color: rgba(255, 255, 255, 0);
  margin: 5px 0px 5px 105px;
}

.navbar {
  margin-right: 40px;
  gap: 50px;
}

.animate {
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
}

.button-txt {
  display: inline-block;
  transition: opacity 0.3s ease;
}

.arrow {
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  left: 10px;
  opacity: 0;
  transform: translateX(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #35bbdf;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

/* HERO SECTION */
.hero-section {
  height: 89vh;
}

.hero-section > div > div {
  gap: 25px;
}

.title {
  font-size: 70px;
}

.description {
  font-size: 22px;
  color: rgb(0, 0, 0, 50%);
}

.button {
  border: none;
  padding: 20px;
  border-radius: 32px;
  background-color: white;
  align-self: flex-start;
  letter-spacing: 2px;
}

/* ABOUT SECTION */

.about-section {
  height: 95vh;
  margin: 0px 70px 0px 70px;
}

.about-section > div {
  gap: 30px;
}

.about-title {
  font-size: 45px;
}

.spacing {
  letter-spacing: 3.5px;
  line-height: 2.5;
}

/* EXPERTISE SECTION */

.expertise {
  padding: 50px 9%;
}

.heading {
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 45px;
}

.exp-card-container {
  display: grid;
  min-height: 250px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.exp-card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  padding: 30px 20px;
  padding: 40px 30px;
  min-height: 250px;
  border-radius: 8px;
}

.exp-card h3 {
  font-size: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}

.exp-card p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0, 50%);
  font-size: 15px;
  line-height: 1.8;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.exp-card:hover p {
  opacity: 1;
}

.exp-card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

/* WHY US SECTION*/
.why-us {
  width: 100%;
  padding: 35px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

.why-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 10px;
  height: 400px;
}

.why-card {
  min-width: 80px;
  width: 100px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
}

.why-row {
  color: black;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
}

.why-icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.why-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.why-description p {
  color: rgb(0, 0, 0, 50%);
  padding-top: 5px;
}

.why-description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .why-description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/*WHAT WE DELIVER SECTION*/
.what-we-deliver-section {
  margin: 0 auto;
  padding: 40px 70px;
  background-color: #ffffff;
  height: 90vh;
}

.what-we-deliver-section p {
  text-align: center;
  color: black;
}

.deliver-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deliver-item {
  padding: 20px;
  background-color: #e9ecef;
  border-left: 5px solid #4d94e5;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  gap: 10px;
}

.deliver-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.1);
  z-index: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.deliver-item h3 {
  position: relative;
  z-index: 1;
  color: #4d94e5;
  font-size: 25px;
}

.deliver-item p {
  position: relative;
  z-index: 1;
  color: #555;
}

/*METHOLODOLGY SECTION*/
.methodology-section {
  margin: 0 auto;
  padding: 40px 120px;
  background-color: white;
  border-radius: 8px;
}

.methodology-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.methodology-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.methodology-item {
  flex: 1 1 calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #e9ecef;
  border-left: 5px solid #007bff;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.methodology-item h3 {
  margin-top: 0;
}

.methodology-item p {
  color: #555;
}

.methodology-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/*CONTACT SECTION*/

.let-connect-section {
  margin: 40px auto 0px auto;
  padding: 40px 20px 0px 20px;
  background-color: #ffffff;
  text-align: center;
}

.contact-container {
  max-width: 850px;
}

.let-connect-section h2 {
  margin-bottom: 20px;
  color: #333;
}

.slogan {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}

.contact-description {
  color: #555;
  padding-bottom: 50px;
}

@media (max-width: 1300px) {
  .hamburger {
    display: block;
    padding: 35px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-item {
    margin: 6px 0;
  }

  .navbar.active {
    left: 0;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wcard {
    width: 100%;
    margin-bottom: 15px;
  }
  input:checked + label {
    width: 100%;
  }
  .wcard > .row > .wdescription {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .navbar-container > button {
    margin-left: 20px;
  }

  .navbar {
    margin-right: 20px;
    gap: 30px;
  }

  .hero-section {
    height: 80vh;
  }

  .title {
    font-size: 50px;
  }

  .description {
    font-size: 18px;
  }

  .button {
    padding: 15px;
  }

  .about-section {
    height: auto;
    margin: 0px 30px;
  }

  .about-title {
    font-size: 36px;
  }

  .spacing {
    letter-spacing: 2px;
    line-height: 2;
  }

  .why-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .why-card {
    width: 100%;
    margin-bottom: 15px;
  }

  input:checked + label {
    width: 100%;
  }

  .wdescription {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-container > button {
    margin-left: 10px;
  }

  .navbar p {
    padding: 15px;
    text-align: center;
  }

  .hero-section {
    height: 70vh;
  }

  .title {
    font-size: 36px;
    text-align: center;
  }

  .description {
    font-size: 16px;
    text-align: center;
  }

  .button {
    align-self: center;
    padding: 15px;
  }

  .about-section {
    margin: 0px 10px;
    flex-direction: column;
    align-items: center;
  }

  .about-section img {
    width: 80%;
    max-width: 300px;
  }

  .about-title {
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
  }

  .spacing {
    letter-spacing: 1.5px;
    line-height: 1.5;
  }

  .expertise {
    padding: 20px;
  }

  .heading {
    font-size: 33px;
  }

  .why-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .why-card {
    width: 100%;
    margin-bottom: 15px;
  }

  input:checked + label {
    width: 100%;
  }

  .why-description {
    width: 100%;
  }

  .why-description > p {
    font-size: 11px;
  }

  .deliver-container {
    flex-direction: column;
  }

  .what-we-deliver-section {
    height: 120vh;
  }

}

@media (max-width: 480px) {
  .navbar-container > button {
    margin: 5px;
  }

  .navbar {
    gap: 10px;
  }

  .hero-section {
    height: 60vh;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }

  .button {
    padding: 12px;
  }

  .about-title {
    font-size: 24px;
  }

  .wrapper {
    padding: 10px;
  }

  .why-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .why-card {
    min-width: 100%;
    margin: 5px 0;
  }

  input:checked + label {
    height: 100%;
    width: 100%;
  }

  .deliver-item {
    padding: 15px;
  }
}
