.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.align-self {
  align-self: center;
}

.text-align {
  text-align: center;
}

.full-viewport {
  width: 100vw;
  height: 100vh;
  padding: 5px;
}

.full-size {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.relative-position {
  position: relative;
}

.absolute-position {
  position: absolute;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bold {
  font-weight: bold;
}

.align-end {
  align-items: flex-end;
}

.no-wrap {
  flex-wrap: nowrap;
}
